@{
    ViewBag.Title = "About";
}
<br/>
<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/chocolat.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />
<div class="footer container-fluid">
    <div class="container">
        <div class="footer-content-agile">
            <div class="col-md-4 news-letter-agileits-w3layouts">
                <h4>Приложение учёта животных</h4>
                <p>Данное приложение является курсовым проектом по предмету "Базы данных"!</p>
            </div>
            <div class="col-md-4 news-letter-agileits-w3layouts">
                <h4>Исходники</h4>
                <p>Для получения исходного кода приложения посетите GitHub репозиторий.</p>
                <form action="https://github.com/Liza123-321/courseWork_DB">
                    <input type="submit" value="GitHub"/>
                </form>
            </div>
            <div class="col-md-4 news-letter-agileits-w3layouts">
                <h4>Кратко о технологии</h4>
                <p>В приложении используется технология работы с GeoJson, а также ведётся работа с ESRI API. Для редактирования исходной карты проекта посетите <a href="https://www.arcgis.com/home/item.html?id=ac606a1ac19e43629184ec2116ca480c">ССЫЛКА.</a>
                </p>
            </div>
        </div>
    </div>
</div>