@{
    ViewBag.Title = "Contact";
}
<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/chocolat.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/common.css")" rel="stylesheet" type="text/css" />

<br/>
<div class="footer container-fluid">
    <div class="container">
        <div class="footer-content-agile">
            <div class="col-md-4 about-us-agile">
                <h4>О приложении</h4>
                <div class="aboutus-right-wthree">
                    <p>Данное приложение является курсовым проектом по предмету "Базы данных". По всем вопросам обращаться не к разработчикам.</p>
                    <input type="submit" value="Пожаловаться" />
                </div>
            </div>
            <div class="col-md-4 news-letter-agileits-w3layouts">
                <h4>Наши новости</h4>
                <p>Зарегистрируйтесь и подпишитесь, чтобы всегда быть в курсе!</p>
                <form action="#" method="post">
                    <input type="email" name="Email" placeholder="Введите ваш Email" required="" />
                    <input type="submit" value="Подписаться" />
                </form>
            </div>
            <div class="col-md-4 about-us-agile">
                <h4>Контакты</h4>
                <div class="aboutus-right-wthree">
                    <p>Электронная почта: <u>liza-98k@mail.ru</u> </p>
                    <p>Телефон: <u>+37529000000</u> </p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>